h2{ 
    color: white;
    background-color: green;
    text-align: center;
    font-size: xx-large;

}

.body{
    background-color: green;

}

h3{
    color: white;
    background-color: green;
    text-align: center;
    font-size: xx-large;
}

.body{
    background-color: green;
}

h4{
    color: white;
    background-color: green;
    text-align: center;
    font-size: x-large;
}