h2{ 
    color: white;
    background-color: green;
    text-align: center;
    font-size: xx-large;

}
.img {
    size: 250px;
}

h1{
    font-style: oblique;
    color: honeydew;
    background-color: red;
}
.body{
    background-color: green;

}

h3{
    color: white;
    background-color: green;
    text-align: center;
    font-size: xx-large;
}

.body{
    background-color: green;
}

h4{
    color: white;
    background-color: green;
    text-align: center;
    font-size: x-large;
}